<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Administrador</div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Usuários online</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Tempo de entregas das compras</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Bairros mais atendidos</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Clientes que mais compram</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Produtos mais vendidos </a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

   

      <div class="container-fluid">
        <main role="main" class="col-12 col-md-9 col-lg-10 px-4">
                  <main role="main" class="col-12 col-md-9 col-lg-10 px-4">
                    <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Tempo online</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>1</td>
                <td>Mark</td>
                <td>00:20:09</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>2</td>
                <td>Jacob</td>
                <td>00:02:50</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>3</td>
                <td>Larry</td>
                <td>00:06:37</td>
              </tr>
            </tbody>
          </table> 
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
